
#featured-content {
    display: flex;
	flex-wrap: wrap;
	
    gap: 36px;
	max-width: 1000px;
	margin: 0px auto;
	padding: 30px;
}
.car-container {
    box-shadow: 0px 2px 2px #107197;
    border-radius: 25px;
	border: 1px solid #D4D3E8;
	margin-bottom: 24px;
}

.car-info {
	padding: 24px;
}
.car-info h2 {
	font-size: 24px;
	font-weight: 400;
}
.car-info h3 {
	font-size: 18px;
	font-weight: 400;
}
.car-info h4 {
	font-size: 18px;
	font-weight: 400;
}
.car-info .bold {
	font-weight: bold;
}







#car-container {
    width: 30%;
}

/* Responsive */ 

@media  screen and ( max-width: 767px) {
	#logo h1 {
		
	}
	#featured-content {
		max-width: 100%;
		gap: 12px;
		padding: 0;
	}
	.car-container {
		margin: 0 auto;
	}
	.create-container {
		min-height: 50vh;
	}
	.links .link {
		width: auto;
	}
	.hero {
		padding-bottom: 0;
	}
}