
#featured-content {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px;
}
.car-container {
    box-shadow: 0px 2px 2px #107197;
    border-radius: 26px;
	border: 1px solid #D4D3E8;
	margin-bottom: 24px;
}

.car-info {
	padding: 24px;
}
.car-info h2 {
	font-size: 24px;
	font-weight: 400;
}
.car-info h3 {
	font-size: 18px;
	font-weight: 400;
}
.car-info h4 {
	font-size: 18px;
	font-weight: 400;
}
.car-info .bold {
	font-weight: bold;
}


.detailsLink {
    background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 50%;
	color: #0a445b;
	box-shadow: 0px 2px 2px #107197;
	cursor: pointer;
	transition: .2s;
    
}
.detailsLink a {
    text-decoration: none;
    cursor: pointer;
    color: #107197;
}



#car-container {
    width: 30%;
}