
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-weight: 200;
	color: #222222;
}





p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

#wrapper {
	margin: 10px auto;
	
	width: 95%;
}





.container {
	
	margin: 0px auto;
	
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 100px;
	background: #107197;
	border-radius: 30px;
}

#header {
	
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 0px 0px;
	display: flex;
	justify-content: space-between;
}

/* Logo */

#logo {
	display: inline-block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}



#logo h1 {
	
	font-weight: bold;
	font-size: 3em;
	padding: 24px;
	text-shadow: 1px 1px #38495a;
}

#logo h1 a {
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}









/* Menu */

.menu {
	
	width: 500px;
	
	margin: 0 0 0 auto;
	padding: 0;
}

.menu ul {
	
	margin: 0;
	padding: 36px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	display: flex;
	justify-content: space-evenly;
}


.menu li {
	display: inline-block;
	padding: 0px 0px 0px 0px;
}
.user, .guest {
	display: inline-block;
}
.welcomeUser {
	color: #FFFFFF;
	
	text-shadow: 1px 1px #38495a;
	font-size: 16px;
	font-weight: bold;
}
.logoutBtn {
	color: #FFFFFF;
	border: none;
	background-color: transparent;
	text-shadow: 1px 1px #38495a;
	font-size: 16px;
	font-weight: bold;
}
.menu a {
	
	margin-right: 1px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
	text-shadow: 1px 1px #38495a;
}

.menu a:hover, #menu  {
	text-decoration: none;
	color: #FFFFFF;
}


.hero {
  
  padding: 24px;
}
.heroContainer {
  
	margin-top: 48px;
  height: 300px;
}

.hero h1 {
  font-size: 5em;
  font-weight: bolder;
  color: #222222;
  padding: 24px;
}
.hero span {
  display: block;
  color: #107197;
}

.hero p {
  padding-left: 24px;
  font-size: 16px;
}
.imgContainer {
	width: 80%;
	border-radius: 20px;
	margin: 0 auto;
}

/* Page */

#page {
	width: 100%;
	margin: 24px;
	padding: 60px 0px 0px 0px;
	background: #FFFFFF;
}

/* Content */

#content {
	margin: 0 auto;
}



.hero-info-desc {
	padding: 24px;
	margin-top: 36px;
}
.hero-info-desc strong {
	color: #107197;
	font-weight: bold;
}

.links {

	margin-left: 18px;

}

.links .link {
	background: #fff;
	font-size: 14px;
	margin: 30px;
	padding: 16px 20px;
	border-radius: 12px;
	border: 1px solid #107197;
	text-transform: uppercase;
	font-weight: 700;
	
	width: 25%;
	color: #107197;
	box-shadow: 0px 2px 2px #107197;
	cursor: pointer;
	transition: .2s;
	
	text-align: center;
	text-decoration: none;
}

/*Buttons*/
.button {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 12px;
	border: 1px solid #107197;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 25%;
	color: #107197;
	box-shadow: 0px 2px 2px #107197;
	cursor: pointer;
	transition: .2s;
}






/* Footer */

.footer-container {
	height: 24px;
	margin: 0 auto;
	padding: 15px 0;
	background: #107197;
	border-radius: 18px;
	width: 95%;
	margin: 18px auto;
}

.footer-info {
	margin: 0;
	padding: 10px;
	letter-spacing: 1px;
	line-height: normal;
	text-align: center;
	color: #fff;
}














