
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
	--medium-blue-clr:  #107197;
	--light-blue-clr:   #d5e1e7;
	--dark-blue-clr: #0a445b;
	--gray-clr: #38495a;
}
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: #222222;
}


span {
	color: var(--medium-blue-clr);
	font-weight: bold;
}


p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}





/* Header */

#header-wrapper {
	height: 100px;
	background: #107197;
	border-radius: 25px;
	width: 90%;
	margin: 0 auto;
}

#header {
	margin: 10px auto;
	height: 100px;
	padding: 0px;
	
}

/* Logo */

#logo {
	display: inline-block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo-title {
	font-weight: bold;
	font-size: 3em;
	padding: 24px;
	text-shadow: 1px 1px #38495a;
}

.logo-link {
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}

/* Menu */

.menu {
	
	margin: 0 0 0 auto;
	padding: 0;
	
}
.nav-menu {
	display: flex;
	justify-content: space-between;
}
.nav-ul {
	margin: 0;
	padding: 36px 12px 0 0;
	list-style: none;
	line-height: normal;
	display: inline-block;

}

.nav-ul li {
	display: inline-block;
	padding: 0px;
}

.user, .guest {
	display: inline-block;
}

.welcomeUser {
	color: var(--light-blue-clr);
	text-shadow: 1px 1px var(--gray-clr);
	font-size: 16px;
	font-weight: bold;
}

.logoutBtn {
	color: #FFFFFF;
	border: none;
	background-color: transparent;
	text-shadow: 1px 1px var(--gray-clr);
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.nav-ul a {
	cursor: pointer;
	margin-right: 1px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
	text-shadow: 1px 1px var(--gray-clr);
}

.menu a:hover  {
	text-decoration: none;
	color: #FFFFFF;
}

/* nav mobile*/



.hamburger {
	border: 0;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 24px;
	right: 24px;
	border-radius: 25%;
	background-color: transparent;
	cursor: pointer;
	transition: 0.3s;
	display: none;
  }
  .hamburger:hover {
	border: 1px solid #fff;
  }
.icon-menu {
	font-size: 24px;
	font-weight: bold;
}

.menu-mobile-btn {
	background-color: transparent;
	border: none;
}

 
.hero {
  position: relative;
 width: 90%;
 margin: 0 auto;

}

.heroContainer {
	margin-top: 48px;
  min-height: 300px;
}

.hero-title {
  font-size: 5em;
  font-weight: bolder;
  color: #222222;
  padding: 24px;
}

.hero-title span {
  display: block;
  color: var(--medium-blue-clr);
}

.hero-subtitle {
  padding-left: 24px;
  font-size: 16px;
  width: 35%;
}

.imgContainer {
	width: 80%;
	border-radius: 20px;
	margin: 0 auto;
	position: absolute;
	right: 120px;

}
.icon {
	background-color: var(--medium-blue-clr);
}

/* Page */

#page {
	width: 100%;
	padding: 24px;
	padding-bottom: 0;
	margin: 48px auto 0 auto;
	background: #FFFFFF;
}

.heroInfo {
	padding: 24px 48px;
}

.hero-info-desc {
	margin-top: 36px;
}

.hero-info-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.hero-info-desc {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 24px;
	padding-bottom: 24px;
	border-top: 2px solid  #107197;
	border-bottom: 2px solid  #107197;
}

.page-container {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 12px;
	border-radius: 12px;
	background-color: var(--light-blue-clr);
	color: var(--dark-blue-clr);
	
	padding: 12px;
}

.page-container .icon {
	height: 40px;
	width: 40px;
	background-color: var(--medium-blue-clr);
	opacity: 0.5;
	padding: 24px;
	font-size: 24px;
	border-radius: 25%;
}

.page-container .page-title {
	font-size: 24px;
	font-weight: bold;
	color: var(--medium-blue-clr);
	padding: 12px 0;
}
.page-container .page-desc {
	font-size: 14px;
	font-weight: bold;
}

.page-last-info {
	width: 90%;
	margin: 30px auto 0 auto;

	padding: 12px;
}
/* Links to register and catalog*/
.links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.links .link {
	background: #fff;
	font-size: 14px;
	margin: 30px 16px 16px 0;
	padding: 16px 20px;
	border-radius: 12px;
	border: 1px solid var(--medium-blue-clr);
	text-transform: uppercase;
	font-weight: 700;
	width: 25%;
	color: var(--dark-blue-clr);
	cursor: pointer;
	transition: .2s;
	text-align: center;
	text-decoration: none;
}

/*Buttons*/
.button {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 12px;
	border: 1px solid var(--medium-blue-clr);
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: auto;
	color: #0a445b;
	cursor: pointer;
	transition: .2s;
}
.button:hover, .link:hover {
	background-color: var(--light-blue-clr);
}


/* Footer */

.footer-container {
	height: 24px;
	margin: 0 auto;
	padding: 15px 0;
	background: #107197;
	border-radius: 15px;
	width: 95%;
	margin: 18px auto;
}

.footer-info {
	margin: 0;
	padding: 10px;
	letter-spacing: 1px;
	line-height: normal;
	text-align: center;
	color: #fff;
}









/*Responsive design */

@media  screen and ( max-width: 767px) {
	.hamburger {
		display: block;
		
	}
	.hamburger:hover {
		border: 1px solid white;
	}
	.nav-ul {
		display: none;
		position: absolute;
		left: 3px;
		top: 90px;
    	flex-direction: column;
    	width: 97%;
		margin: 0;
    	height: 250px;
		background-color: #107197;
    	border-end-start-radius: 16px;
		border-end-end-radius: 16px;
		z-index: 1;
		
	}
	.user, .guest {
		display: block;
	}
	.nav-ul li {
		text-align: center;
		display: block;
		margin-bottom: 30px;
	}
	.nav-ul li:last {
		margin-top: 0;
	}
	.menu.expanded a:active .nav-ul {
		display: none;
	}
	.logoutBtn {
		margin: 0;
	}
	.menu.expanded .nav-ul {
		display: block;
	}
	.menu.expanded .icon-x {
		display: block;
	}
	.menu.expanded .icon-bars {
		display: none;
	}
	.logoutBtn {
		margin-top: 30px;
	}
	#header-wrapper {
		width: 99%;
		margin: 0 auto;
	}
	.hero {
		padding: 0;
		padding-bottom: 24px;
		
	}
	.heroContainer {
		min-height: 250px;
	}
	.heroInfo {
		padding: 24px 0;
	}
	#page {
		margin: 0;
		padding: 0;
	}
	.imgContainer, .heroImg {
		display: none;
	}
	.hero-info-desc {
		margin-top: 0;
	}
	.footer-container {
		width: 98%;
	}
	
}

@media  screen and (min-width: 768px) and (max-width: 1023px) {
	#page {
		margin-left: 0;
		padding: 0;
	}
	#wrapper {
		width: 98%;
	}
	#featured-content {
		padding: 0;
	}
}

@media  screen and ( min-width: 1024px) {
	
}




