
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}





p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

#wrapper {
	margin: 10px auto;
	
	width: 95%;
}





.container {
	
	margin: 0px auto;
	
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 120px;
	background: #107197;
	border-radius: 36px;
}

#header {
	overflow: hidden;
	width: 100%;
	height: 120px;
	margin: 0 auto;
	padding: 0px 0px;
	display: flex;
	justify-content: space-between;
}

/* Logo */

#logo {
	display: inline-block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}



#logo h1 {
	line-height: 120px;
	font-weight: bold;
	font-size: 3em;
	padding-left: 24px;
	text-shadow: 1px 1px #38495a;
}

#logo h1 a {
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}









/* Menu */

.menu {
	
	width: 500px;
	height: 90px;
	margin: 0 0 0 auto;
	padding: 0;
}

.menu ul {
	
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	display: flex;
	justify-content: space-evenly;
}


.menu li {
	display: inline-block;
	padding: 0px 0px 0px 0px;
}
.user {
	display: inline-block;
}
.guest {
	display: inline-block;
}

.menu a {
	
	margin-right: 1px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
	text-shadow: 1px 1px #38495a;
}

.menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

.menu .current_page_item a {
	background: #107197;
	border-radius: 5px;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
}
.heroContainer {
  
  width: 50%;
  height: 300px;
}

.hero h1 {
  font-size: 4em;
  font-weight: bolder;
  color: #222222;
  padding: 24px;
}
.hero span {
  display: block;
  color: #107197;
}

.hero p {
  padding-left: 24px;
  font-size: 16px;
}
.imgContainer {
	width: 50%;
	border-radius: 20px;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 60px 0px 0px 0px;
	background: #FFFFFF;
}

/* Content */

#content {
	margin: 0 auto;
	width: 60%;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	margin-bottom: 40px;
}

.post .title {
	padding: 7px 0px 40px 0px;
	
	
}

.post .title a {
	border: none;
	text-decoration: none;
	color: #107197;
	font-size: 24px;
	font-weight: bold;
	border-radius: 26px;
	border: 1px solid #107197;
	padding: 6px 16px ;
	cursor: pointer;
	box-shadow: 0px 2px 2px #107197;
}
.post .registerBtn {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 25%;
	color: #0a445b;
	box-shadow: 0px 2px 2px #107197;
	cursor: pointer;
	transition: .2s;
}
.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}


.post .entry {
	padding: 0px 0px 40px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.links .btn {
	
	
	width: 88px;
	padding: 6px 16px;
	margin: 0, 16px;
	background: #107197;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}






/* Three Column Footer Content */



#footer-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 50px 0px;
	color: #FFFFFF;
}

#footer-content h2 {
	color: #FFFFFF;
}


#footer-bg {
	overflow: hidden;
	padding: 30px 0px;
	background: #E8E8E8;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	font-size: 26px;
	color: #FFFFFF;
}

#footer-content #fbox1 {
	float: left;
	width: 300px;
	margin-right: 50px;
}

#footer-content #fbox2 {
	float: left;
	width: 300px;
}

#footer-content #fbox3 {
	float: right;
	width: 300px;
}

#featured-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.carBox {
	width: 30%;
}

/* Footer */

#footer {
	height: 30px;
	margin: 0 auto;
	padding: 50px 0 15px 0;
	background: #107197;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	text-align: center;
	color: #80a0ad;
}

#footer a {
	color: #bbd0d8;
}





.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 a {
	color: #7F7F7F;
}






.button a {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #d8eaf1;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

